@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container{
    padding: 61px 12px;
}

.filter-container{
    padding: 12px;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#homepage{
    position: relative;
}

.text--purple{
    color: #6030b1;
}

/*
NAV BAR
*/

nav {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img{
    width: 250px;

}


.nav__links{
    display: flex;
    align-items: center;
}

.nav__links a:first-child{
    margin:0 24px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}
.nav__links a:nth-child(2){
    margin:0 24px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
}

.nav__links a:last-child {
    padding: 12px 40px;
    background-color: white;
    color: rgba(206, 39, 39, 1);
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    min-height: 48px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

.btn__menu{
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: white;
    display: none;
}

.menu__backdrop{
    position: absolute;
    background-color:red ;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{ 
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.menu--open{
    max-height: 100vh; 
    overflow-y: hidden;
    z-index: 100;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list{
    padding: 32px 0;
}

.menu__link{
    font-size: 40px;
    color: white;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top:10px;
    padding: 8px;
    color: white;
}

.homepage__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage__title
,.homepage__sub-title{
    width: 100%;
    max-width: 800px;
    text-align: center;
    line-height: 1.25em;
    margin-bottom: 20px;
}

.homepage__title{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    /* z-index: 1000; */
}

.homepage__sub-title{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #122fe6;
}

.homepage__keyword--search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.homepage__keyword--input{
    border-radius: 20px;
    padding: 0 15px;
    height: 70px;
    width: 100%;
    max-width: 550px;
    font-size: 24px;
    padding-left: 25px;
    border:  1px solid #0a1f44;
    transition:border-color .2s cubic-bezier(.645,.045,.355,1);
    line-height: 40px;
    /* z-index:1000; */
}



.homepage__button--absolute{
    width:1em;
    vertical-align: -0.135em;
    color: red;
    margin-left: 20px;
    font-size: 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 30%;
    top: 15%;
    /* z-index: 1000; */
}

.background--image{
    background-image: url(./assets/movie\ postercollage.jpeg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    inset: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    filter: grayscale(50%);
    height: 350px;
}

/* #search__movies{
    background-color:rgba(206, 39, 39, 1);
} */

.search__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px;

}

select{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: #606266;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
}

.movie-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .movie-card{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 80px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;

} */

.user-card__container{
    padding: 10px 16px 100px 16px;
}

img{
    height: 100%;
    max-height:300px;
}

h3{
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 20px;
}

h4{
    text-align: center;
    margin-top: 20px;
}




/* SMALL PHONES,TABLETS, LARGE SMARTPHONES */

@media(max-width:1024px) {
    .nav__links{
        display: none;
    }

    .homepage__button--absolute{
        position: absolute;
    left: 70%;
    }

    .btn__menu{
        display: block;
        cursor: pointer;

    }

    .menu__link{
        text-decoration: none;
    }

    .menu__link:hover{
        text-decoration: underline;
    }

}



 




